body {
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	max-height: 100vh;
	overflow-y: hidden;
	position: relative;

  	background-color: $backgroundColor;
	font-family: 'Roboto', sans-serif;
	color: $fontColor;
}

a {
	text-decoration: none;
	color: inherit;
	transition: 0.2s;

	&:hover {
		color: $fontColor1;
		cursor: pointer;
	}
}



[data-title] {
	position: relative;

	&:after {
		content: attr(data-title);
		position: absolute;
		z-index: 99;
		visibility: hidden;
		opacity: 0;
	
		background-color: $decorationColor9;
		color: $fontColor1;
		font-size: 10px;
	
		padding: 3px 5px;
		bottom: -15px;
		left: 100%;
		white-space: nowrap;
		box-shadow: 0 0 2px $decorationColor1;
		text-transform: lowercase;
	}

	&:hover {
		&:after {
			opacity: 1;
			transition: all $shortEasyAnimation1;
			visibility: visible;
		}
	}
}

//Global classes
.g-container {
  	display: flex;
  	height: 100vh;
	flex-direction: column;
	align-items: center;

	&--popup {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		justify-content: center;
		z-index: 90;

		background-color: $decorationColor8;
	}
}

.g-wrapper {
	display: flex;
	flex: 1;
	width: 100%;
	align-items: center;
}

.g-exitBtn {
	display: flex;
	position: relative;
	width: 18px;
	height: 18px;

	&--popup, &--dialog, &--playerDialog {
		position: absolute;
		top: 10px;
		right: 10px;

		cursor: pointer;
		
		&:before, &:after {
			background-color: $decorationColor1 !important;
		}

		&:hover {
			&:before, &:after {
				background-color: $decorationColor4 !important;
			}
		}
	}

	&--dialog, &--playerDialog {
		width: 12px;
		height: 12px;
		top: 5px;
		right: 5px;

		&:before, &:after {
			background-color: $decorationColor7 !important;
		}
	}

	&--playerDialog {
		top: 10px;
		right: 0;
	}

	&:hover {
		&:before, &:after {
			background-color: $decorationColor1;
		}
	}

	&:before, &:after {
		position: absolute;
		content: '';
		top: 50%;
		left: 0;
		width: calc(100% + 2px);
		height: 2px;

		transition: $shortEasyAnimation1;
		background-color: $decorationColor4;
	}

	&:before {
		transform: rotate(-45deg);
	}

	&:after {
		transform: rotate(45deg);
	}
}

.g-sectionNav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	&__elem {
		flex: 1;

		&--page {
			color: $decorationColor6;
			text-transform: uppercase;
			text-align: right;
		}
	}
}

.g-sectionTitle {
	margin: 10px 0 30px 0;

	color: $decorationColor1;
	font-size: 50px;
}

.g-editBtn {
	position: absolute;
	width: 12px;
	height: 4px;
	transform: rotate(-45deg);

	background-color: $decorationColor7;
	transition: $shortEasyAnimation1;
	border-radius: 3px 0 0 3px;

	&__gum {
		position: relative;
		right: -13px;
		width: 3px;
		height: 4px;

		background-color: $decorationColor7;
		transition: $shortEasyAnimation1;
		border-radius: 0 3px 3px 0;
	}

	&:hover {
		background-color: $decorationColor4;

		& .g-editBtn__gum {
			background-color: $decorationColor4;
		}
	}

	&--dialog {
		top: 28px;
		right: 5px;
	}
}

.g-clearFileInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.g-deleteBtn {
	position: absolute;
	top: 14px;
	right: 40px;

	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
	cursor: pointer;
	transition: $shortEasyAnimation1;
	color: $decorationColor1;

	&:hover {
		color: $decorationColor4;
	}
}