.creditsFooter {
	position: absolute;
	display: flex;
	z-index: 10;
	width: 100%;
	left: 0;
	bottom: 0;
	box-sizing: border-box;
	justify-content: center;
	padding-bottom: 17px;
	
	text-align: right;
	text-transform: lowercase;
	letter-spacing: 1px;
	user-select: none;

	&__box {
		flex: 0 0 auto;
		position: relative;
		padding: 5px 15px;

		background-color: $decorationColor2; 
		text-transform: uppercase;
		box-shadow: 1px 1px 5px $decorationColor15;
	}

	& a {
		display: flex;
		align-items: center;

		& img {
			margin-right: 10px;
		}
	}
}