.creditsFooter {
	position: absolute;
	display: flex;
	width: 100%;
	left: 0;
	bottom: 0;
	box-sizing: border-box;
	justify-content: center;
	padding-bottom: 17px;
	
	border-bottom: 10px solid $decorationColor2;
	text-align: right;
	text-transform: lowercase;
	letter-spacing: 1px;

	&__box {
		flex: 0 0 auto;
		position: relative;
		padding: 8px 25px;

		background: $decorationColor2; 

		&:before, &:after {
			position: absolute;
			content: '';
			top: 0;
			width: 0;
			height: 0;
			border-style: solid;
		}

		&:before {
			left: -8px;
			border-width: 0 8px 34px 0;
			border-color: transparent $decorationColor2 transparent transparent;
		}

		&:after {
			right: -8px;
			border-width: 34px 0 0 8px;
			border-color: transparent transparent transparent $decorationColor2;
		}
	}
}