.labelMark {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 6px 10px;

    color: $fontColor1;
    letter-spacing: 1px;
    background-color: $decorationColor5;
    box-shadow: 1px 1px 5px $decorationColor15;

    &--bottomLeft {
        left: 0;
        right: auto;
    }

    &--link {
        cursor: pointer;
        transform: $shortEasyAnimation1;

        & > a:hover {
            color: $decorationColor1;
        }
    }

    &--langs {
        & span {
            margin: 0 5px;

            cursor: pointer;
            transform: $shortEasyAnimation1;

            &:hover {
                color: $decorationColor1;
            }

            &:last-child {
                margin-right: 10px;
            }
        }
    }

    &--lang {
        color: $decorationColor1;
    }
}