.loadingBarWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999999;
}

.loadingBar {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;

  &__icon {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;

    & img {
      width: 100%;
    }
  }

  &__animation {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid $decorationColor1;
    border-radius: 50%;
    animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $decorationColor1 transparent transparent transparent;

    &--style1 {
      animation-delay: -0.45s;
    }

    &--style2 {
      animation-delay: -0.3s;
    }

    &--style3 {
      animation-delay: -0.15s;
    }
  }

  &--page {
    width: 240px;
    height: 240px;

    & .loadingBar__animation {
      width: 224px;
      height: 224px;
    }

    & .loadingBar__icon {
      padding: 30px;
    }
  }
}

.centeralizedLoadingBar {
  display: flex;
  justify-content: center;
}

@keyframes ldsRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
