.notifications {
    position: absolute;
    display: flex;
    width: auto;
    left: 6px;
    bottom: 16px;
    padding: 4px 6px;
    z-index: 15;

    transition: 500ms ease-in-out;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 3px;

}