.map {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;

    cursor: move;
    border: 2px dotted $errorColor;
    background-repeat: no-repeat;
    
    &__canvas {
        position: relative;
        display: block;
        top: 0;
        left: 0;
        
        &--main {
            z-index: 2;
        }

        &--select,
        &--block,
        &--passage,
        &--building,
        &--decoration,
        &--subsoil,
        &--npc,
        &--mob,
        &--vertexWeight,
        &--se {
            position: absolute;
        }

        &--subsoil {
            z-index: 8;
        }

        &--building {
            z-index: 11;
        }

        &--mob {
            z-index: 21;
        }

        &--npc {
            z-index: 24;
        }

        &--se {
            z-index: 27;
        }

        &--decoration {
            z-index: 30;
        }

        &--passage {
            z-index: 35;
        }

        &--vertexWeight {
            z-index: 40;
        }

        &--block {
            z-index: 45;
        }

        &--select {
            z-index: 50;
        }

    }

}