.map {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;

    cursor: move;
    border: 1px dotted $warningColor;
    
    &__canvas {
        position: relative;
        display: block;
        top: 0;
        left: 0;
        
        &--main {
            z-index: 2;
        }

        &--select, &--block, &--passage, &--building, &--decoration, &--subsoil, &--npc, &--mob, &--vertexWeight {
            position: absolute;
        }

        &--select {
            z-index: 30;
        }

        &--block {
            z-index: 29;
        }

        &--vertexWeight {
            z-index: 28;
        }

        &--passage {
            z-index: 18;
        }

        &--building {
            z-index: 16;
        }

        &--decoration {
            z-index: 17;
        }

        &--subsoil {
            z-index: 8;
        }

        &--npc {
            z-index: 15;
        }

        &--mob {
            z-index: 14;
        }

    }

}