.charButton {
  position: relative;
  display: flex;
  flex-direction: column;

  &__menu {
    position: absolute;
    top: -22px;
    left: -50%;
    padding: 1px;

    transition: all $shortEasyAnimation2;
    background-color: $decorationColor8;

    &:before, &:after {
      position: absolute;
      content: '';

      background-color: $decorationColor1;
    }

    &:before {
      top: 0;
      left: 0;
      width: 10px;
      height: 1px;
    }

    &:after {
      top: 0;
      left: 0;
      width: 1px;
      height: 7px;
    }

    & ul {
      display: flex;
      position: relative;
      margin: 0;
      padding: 0 1px;
      justify-content: center;

      &:before, &:after {
        position: absolute;
        content: '';
  
        background-color: $decorationColor1;
      }

      &:before {
        bottom: 0;
        right: 0;
        width: 10px;
        height: 1px;
      }
  
      &:after {
        bottom: 0;
        right: 0;
        width: 1px;
        height: 7px;
      }

      & li {
        display: inline-block;
        margin: 2px 3px;

        transition: $shortEasyAnimation1;

        &:hover, &:hover > a {
          cursor: pointer;
          color: $decorationColor1;
        }
      }
    }
  }

  &__name {
    transition: $shortEasyAnimation1;

    &:hover {
      cursor: pointer;
      color: $decorationColor1;
    }
  }
}