.filesPanel {
    position: relative;
    flex-direction: column;
    top: auto;
    right: auto;
    width: 100%;
    height: 100%;
    z-index: 13;
    padding: 2px;

    background-color: $decorationColor5;

    &:before {
        border-width: 0 0 15px (210 - $filesPanelWrapperPadding*2 + px);
        border-color: transparent transparent $decorationColor5 transparent;
    }

    &:after {
        border-width: 0 (210 - $filesPanelWrapperPadding*2 + px) 15px 0;
        border-color: transparent $decorationColor5 transparent transparent;
    } 

    &__bookmarks {
        display: flex;
        flex-wrap: nowrap;
        height: 32px;
        overflow-x: auto;
        overflow-y: hidden;

        @include scrollBar();

        & ul {
            display: flex;
            margin: 0;
            padding: 0;

            & li {
                flex: 1;
                display: inline-block;
                align-self: center;
                padding: 3px 7px;

                text-transform: uppercase;
                border-right: 1px solid $decorationColor6;
                transition: 200ms ease-in-out;
                cursor: pointer;

                &:last-child {
                    border-right: none;
                }

                &:hover {
                    color: $decorationColor1 !important;
                }
            }
        }
    }

    &__imagesContainer {
        display: flex;
        height: calc(100% - 55px);
        overflow-y: auto;

        @include scrollBar();

        & ul {
            display: flex;
            align-content: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            margin: 1px 0 0 -1px;
            padding: 0;

            & li {
                display: flex;
                margin: 1px;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;

                background-color: $decorationColor8;
                cursor: pointer;
                transition: 200ms ease-in-out;
                border: 1px solid $decorationColor8;

                &:hover {
                    border: 1px solid $decorationColor1;
                    box-shadow: 0px 0px 12px 1px $decorationColor1;
                }
            }
        }
    }

    &__switch {
        position: absolute;
        display: flex;
        bottom: 6px;
        right: 10px;

        text-transform: uppercase;
        transition: 200ms ease-in-out;
        color: $decorationColor4;

        &--char {
            left: 10px;
            right: auto;

            letter-spacing: 1px;

            &:hover {
                color: $decorationColor4 !important;
            }
        }

        &:hover {
            cursor: pointer;
            color: $decorationColor1;

            & .arrow, .arrow:before, .arrow:after {
                background-color: $decorationColor1;
            }
        }

        & span {
            margin-right: 5px;
            float: left;
        }
    }
}

