.mapField {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    border-width: 1px;
    border-style: solid;
    border-color: $boardColor1;
    box-sizing: border-box;

    &__square {
        flex: 1;
        box-sizing: border-box;

        border-width: 1px;
        border-style: dotted;
        border-color: $boardColor2;
    }
}