.productionDataList {
  margin: 15px;
  padding: 0;
  box-sizing: border-box;

  & li {
    & span {
      margin: 0 5px 0 10px;

      text-transform: uppercase;
      color: $fontColor;

      &:first-child {
        margin-left: 0;
      }
    }

    color: $fontColor1;
  }
}