.entryPanel {
  display: block;
  flex: 1;
  margin: 30px 0;
  padding: 15px 0;
  transform: translateY(-50px);

  background-color: rgba(0, 0, 0, 0.2);

  & li {
    display: flex;
    margin: 12px 15px;
    justify-content: center;

    text-align: center;

    & a, & > button {
      display: block; 
      outline: none; 
    }

    & > button {
      background-color: inherit;
      border: none;
      cursor: pointer;
      outline: 0;
      color: inherit;
      transition: $shortEasyAnimation1;

      &:hover, &:active, &:focus{
        outline: 0;
        outline: none;
        -webkit-appearance: none;
        border: none;
      }
    
    }

    &:last-child {
      margin-top: 40px;	
    }
  }

  &__createBoard {
    display: block;

    transition: $shortEasyAnimation1;
    outline: none;

    &:focus-within {
      .entryPanel__sizeBoard {
        height: 35px;
        margin: 20px 0;
        opacity: 1;

        font-size: 12px;

        & button {
          font-size: inherit;

          &:before {
            border-width: 0 4px 35px 0;
          }

          &:after {
            border-width: 35px 0 0 4px;
          }
        }
      }

      .entryPanel__validationInfo {
        display: block;  
      }
    }
  }

  &__sizeBoard {
    display: flex;
    margin: 0;
    justify-content: center;
    height: 0;
    opacity: 0;

    transition: $shortEasyAnimation1;
    font-size: 0px;
    word-spacing: 3px;

    & span {
      margin: 3px 10px;
    }

    & input, & button {
      color: $fontColor1;
      border: none;
      background-color: $decorationColor;
      outline: none;
    }

    & input {
      flex: 0 1 auto;
      max-width: 35px;
      padding: 10px 20px;

      text-align: center;
    }
  }

  &__validationInfo {
    display: none;
    height: 14px;
    margin-top: -14px;
    
    transition: $shortEasyAnimation1;
    color: $warningColor;
  }

  &__separator {
    position: relative;
    height: 1px;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: calc(50% - 25px);
      width: 50px;
      height: 1px;

      background-color: $decorationColor1;
    }
  }
}

.startBtn {
  flex: 0 1 auto;
  position: relative;
  margin: 0 20px; 
  padding: 0 20px;
  
  font-size: 12px;
  text-transform: uppercase;
  transition: $shortEasyAnimation1;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: $decorationColor;
  outline: none;

  &:hover {
    cursor: pointer;  
    background-color: $decorationColor1;
    color: $backgroundColor;
  }
}