.entryPanel {
  display: block;
  flex: 1;
  margin: 30px 0;
  padding: 15px 0;
  transform: translateY(-50px);

  background-color: rgba(0, 0, 0, 0.2);

  & li {
    display: flex;
    margin: 16px 15px;
    justify-content: center;

    text-align: center;

    & a, & > button {
      display: block; 
      outline: none; 
    }

    & > button {
      background-color: inherit;
      border: none;
      cursor: pointer;
      outline: 0;
      color: inherit;

      &:hover, &:active, &:focus{
        outline: 0;
        outline: none;
        -webkit-appearance: none;
        border: none;
      }
    
    }

    &:last-child {
      margin-top: 40px;	
    }
  }

  &__createBoard {
    display: block;

    transition: 0.3s;
    outline: none;

    &:focus-within {
      .entryPanel__sizeBoard {
        height: 35px;
        margin: 20px 0;
        opacity: 1;

        font-size: 12px;

        & button {
          font-size: inherit;

          &:before {
            border-width: 0 4px 35px 0;
          }

          &:after {
            border-width: 35px 0 0 4px;
          }
        }
      }

      .entryPanel__validationInfo {
        display: block;  
      }
    }
  }

  &__sizeBoard {
    display: flex;
    margin: 0;
    justify-content: center;
    height: 0;
    opacity: 0;

    transition: 300ms;
    font-size: 0px;
    word-spacing: 3px;

    & span {
      margin: 3px 10px;
    }

    & input, & button {
      color: $fontColor1;
      border: none;
      background-color: $decorationColor;
      outline: none;
    }

    & input {
      flex: 0 1 auto;
      max-width: 35px;
      padding: 10px 20px;

      text-align: center;
    }

    & button {
      flex: 0 1 auto;
      position: relative;
      margin: 0 20px; 
      padding: 10px 20px;
      
      font-size: 0px;
      text-transform: uppercase;
      transition-duration: 0.3s;
      font-weight: 700;
      letter-spacing: 1px;

      &:hover {
        cursor: pointer;  
        background-color: $decorationColor1;
        color: $backgroundColor;

        &:before {
          border-color: transparent $decorationColor1 transparent transparent;
        }

        &:after {
          border-color: transparent transparent transparent $decorationColor1;
        }
      }

      &:before, &:after {
        position: absolute;
        content: '';
        top: 0;
        width: 0;
        height: 0;

        border-style: solid;
        transition-duration: 300ms;
      }

      &:before {
        left: -3px;
        border-width: 0 4px 0px 0;
        border-color: transparent $decorationColor transparent transparent;
      }

      &:after {
        right: -3px;
        border-width: 0px 0 0 4px;
        border-color: transparent transparent transparent $decorationColor;
      }
    }
  }

  &__validationInfo {
    display: none;
    height: 14px;
    margin-top: -14px;
    
    transition: 0.3s;
    color: $warningColor;
  }

  &__loadMapInput {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  
    & + label {
      cursor: pointer;
    }
  }

  &__separator {
    position: relative;
    height: 1px;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: calc(50% - 25px);
      width: 50px;
      height: 1px;

      background-color: $decorationColor1;
    }
  }
}