.charSprite {
  display: flex;
  width: auto;
  min-width: 192px;
  min-height: 288px;
  justify-content: center;
  align-items: center;
  padding: 10px;

  background-color: $decorationColor11;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  color: $errorColor;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}