.charCreatorFormWrapper {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  justify-content: center;
}

.charCreatorFormContentWrapper {
  position: relative;
  display: flex;
  max-width: 650px;
  margin: 70px 30px 100px 30px;
  padding: 40px 30px;

  background-color: $decorationColor8;
  

  &:before, &:after {
    position: absolute;
    content: '';

    background-color: $decorationColor1;
  }

  &:before {
    top: 0;
    left: 0;
    width: 240px;
    height: 1px;
  }

  &:after {
    top: 0;
    left: 0;
    width: 1px;
    height: 85px;
  }

  &__decorations {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1px;
    height: 1px;

    &:before, &:after {
      position: absolute;
      content: '';
  
      background-color: $decorationColor1;
    }
  
    &:before {
      top: 0;
      right: 0;
      width: 135px;
      height: 1px;
    }
  
    &:after {
      bottom: 0;
      left: 0;
      width: 1px;
      height: 305px;
    }
  }
}

.charCreatorForm {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.charFormPanel {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: 20px;

  &--left {
    max-width: 250px;
    margin-right: 20px;
    margin-left: 0;
  }
}

.charCreatorHeader {
  position: absolute;

  right: 85px;
  top: -15px;

  color: $decorationColor1;
  text-transform: uppercase;
  letter-spacing: 2px;
}