.creatorPanel { 
    display: flex;
    position: absolute;
    z-index: 10;
    width: calc(100% - 32px);
    height: 30px;
    margin: 0 16px;

    background-color: $decorationColor2;

    &__title {
        position: relative;
        display: flex;
        max-width: 60px;
        align-items: center;
        justify-content: center;
        padding: 3px 14px;
        margin: 7px 5px;

        font-size: 10px;
        letter-spacing: 4px;
        font-weight: 700;
        border-right: 2px dotted $decorationColor3;
    }

    &__options {
        display: flex;
        margin: 5px 15px;
        padding: 0;

        & li {
            display: inline-block;
            margin: 0 7px;

            &:first-child {
                margin: 0 7px 0 -2px;
            }
        }
    }

    &:before, &:after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        top: 0;
        border-style: solid;
    }

    &:before {
        left: -16px;
        border-width: 0 16px 30px 0;
        border-color: transparent $decorationColor2 transparent transparent;
    }

    &:after {
        right: -16px;
        border-width: 30px 16px 0 0;
        border-color: $decorationColor2 transparent transparent transparent;
    }   
}