.option {
    position: relative;
    flex: 1;
    
    cursor: pointer;
    user-select: none;

    &__viewType {
        position: absolute;
        display: block;
        bottom: -7px;
        left: -4px;

        font-size: 13px;
    }

    &--net {
        width: 18px;
        height: 18px;
    }

    &--addFile {
        width: 0.1px;
	    height: 0.1px;
	    opacity: 0;
	    overflow: hidden;
	    position: absolute;
        z-index: -1;
        
        & + label {
            position: relative;
            display: block;
            width: 20px;
            height: 20px;
            box-sizing: border-box;

            color: transparent;
            border-width: 1px;
            border-style: solid;
            cursor: pointer;

            &:before {
                position: absolute;
                content: '';
                top: 3px;
                left: 3px;
                width: 12px;
                height: 12px;
                background-color: $decorationColor4;

                border-radius: 50%;
            }
        }
        
        &:focus + label,
        & + label:hover {
            border-width: 2px;

            &:before {
                top: 2px;
                left: 2px;
            }
        }
    }

    &--on {
        border-color: $decorationColor1 !important;

        &:before {
            background-color: $decorationColor1 !important;
        }
    }

    &--off {
        border-color: $decorationColor4 !important;
    }

    &--fullScreen {
        width: 16px;
        height: 14px;
        margin: 0 2px 4px 0;

        border-width: 1px;
        border-style: solid;
        border-color: inherit;

        &:after {
            position: absolute;
            content: '';
            right: -5px;
            bottom: -5px;
            width: 15px;
            height: 11px;

            border-width: 1px;
            border-style: solid;
            border-color: inherit;
        }

        &:hover {
            width: 14px;
            height: 12px;
            border-width: 2px;

            &:after {
                width: 13px;
                height: 9px;
                right: -6px;
                bottom: -7px;
                border-width: 2px;
            }
        }

        & .titleContainer {
            width: 100%;
            height: 100%;
        }
    }

    &--smallerMargin {
        margin: 0 -3px;
    }

    &--textOption {
        display: flex;
        width: auto;
        height: 18px;
        padding: 0 6px;
        justify-content: center;
        align-items: center;

        border: 1px solid $decorationColor1;
        font-size: 11px;
        text-transform: uppercase;
        transition: $shortEasyAnimation1;

        & a, a:hover {
            color: inherit;
        }

        &:hover {
            color: $decorationColor1;
        }
    }

    &--layers {
        width: 93px;
    }

    &--deleteBg {
        width: 12px;
        height: 12px;
        margin: 5px;

        background-color: $decorationColor4;
        border-radius: 50%;

        & .g-exitBtn {
            top: -4px;
            left: -6px;

            &:before, &:after {
                width: calc(100% + 6px);
            }
        }
    }

}
