.option {
    position: relative;
    flex: 1;
    
    cursor: pointer;

    &--net {
        width: 18px;
        height: 18px;
    }

    &--addFile {
        width: 0.1px;
	    height: 0.1px;
	    opacity: 0;
	    overflow: hidden;
	    position: absolute;
        z-index: -1;
        
        & + label {
            position: relative;
            display: block;
            width: 20px;
            height: 20px;
            box-sizing: border-box;

            color: transparent;
            border-width: 1px;
            border-style: solid;
            cursor: pointer;

            &:before {
                position: absolute;
                content: '';
                top: 3px;
                left: 3px;
                width: 12px;
                height: 12px;
                background: $decorationColor4;

                border-radius: 50%;
            }
        }
        
        &:focus + label,
        & + label:hover {
            border-width: 2px;

            &:before {
                top: 2px;
                left: 2px;
            }
        }
    }

    &--on {
        border-color: $decorationColor1 !important;

        &:before {
            background: $decorationColor1 !important;
        }
    }

    &--off {
        border-color: $decorationColor4 !important;
    }

    &--fullScreen {
        width: 16px;
        height: 14px;
        margin: 0 2px 4px 0;

        border-width: 1px;
        border-style: solid;
        border-color: inherit;

        &:after {
            position: absolute;
            content: '';
            right: -5px;
            bottom: -6px;
            width: 15px;
            height: 11px;

            border-width: 1px;
            border-style: solid;
            border-color: inherit;
        }

        &:hover {
            width: 14px;
            height: 12px;
            border-width: 2px;

            &:after {
                width: 13px;
                height: 9px;
                right: -6px;
                bottom: -7px;
                border-width: 2px;
            }
        }
    }

    &--textOption {
        display: flex;
        width: auto;
        height: 18px;
        padding: 0 4px;
        justify-content: center;
        align-items: center;

        border: 1px solid $decorationColor1;
        font-size: 11px;
        text-transform: uppercase;

        & a, a:hover {
            color: inherit;
        }

        &:hover {
            color: $decorationColor1;
        }
    }

    &__viewType {
        position: absolute;
        display: block;
        bottom: -7px;
        left: -4px;

        font-size: 13px;
    }
}

.netGraphic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    border-width: 1px;
    border-style: solid;

    &__square {
        flex: 1;
        min-width: 9px;
        height: 9px;
        box-sizing: border-box;

        border-width: 1px;
        border-style: dotted;
        border-color: inherit;
    }
}

.selectOption {
    width: 6px;
    height: 12px;
    margin-top: 4px;
    margin-left: 2px;

    border: 0;
    border-right: 1px;
    border-left: 1px;
    border-style: solid;
    border-color: $decorationColor1;
    transform: rotate(45deg);

    & .option__viewType {
        top: 9px;
        left: -2px;
        transform: rotate(-45deg);
    }

    &:before, &:after {
        position: absolute;
        content: '';

        width: 10px;
        height: 0px;

        border-width: 1px;
        border-style: solid;
        border-color: inherit;
    }

    &:before {
        top: -2px;
        left: -7px;

        transform: rotate(-45deg);
    }

    &:after {
        top: -2px;
        right: -7px;

        transform: rotate(45deg);
    }
}

.clearSelectedOption {
    position: relative;
    display: flex;
    width: 18px;
    height: 18px;

    &__ereaser {
        position: absolute;
        top: 5px;
        left: 2px;
        width: 14px;
        height: 9px;

        transform: rotate(30deg);
        transition: 200ms ease-in-out;
        border-radius: 2px;
        background-color: $decorationColor4;
        box-shadow: 0 0 2px $decorationColor4;

        &:hover {
            cursor: pointer;
            background-color: $decorationColor1;
            box-shadow: 0 0 2px $decorationColor1;
        }
    }
}