.selectOption {
    width: 6px;
    height: 12px;
    margin-top: 4px;
    margin-left: 2px;

    border: 0;
    border-right: 1px;
    border-left: 1px;
    border-style: solid;
    border-color: $decorationColor1;
    transform: rotate(45deg);
    user-select: none;
    transition: 200ms ease-in-out;

    & .option__viewType {
        top: 9px;
        left: -2px;
        transform: rotate(-45deg);
    }

    &:before, &:after {
        position: absolute;
        content: '';

        width: 10px;
        height: 0px;

        border-width: 1px;
        border-style: solid;
        border-color: inherit;
    }

    &:before {
        top: -2px;
        left: -7px;

        transform: rotate(-45deg);
    }

    &:after {
        top: -2px;
        right: -7px;

        transform: rotate(45deg);
    }
}