.charInputField {
  display: flex;
  flex-direction: column;
  margin: 8px 0;

  &__label {
    margin: 3px;

    text-transform: uppercase;
  }

  &__input {
    margin: 0 3px;
    padding: 6px 10px;

    background-color: $decorationColor1;
    border: none;
    color: $decorationColor4;
  }
}