.playerDialogsWrapper {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;

  @include scrollBar;
}

.playerDialogsHeader {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 30px 0 20px 0;
  padding-top: 10px;
  
  &:before, &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 145px;
    height: 1px;

    background-color: $decorationColor7;
  }

  &:after {
    width: 55px;
    left: auto;
    right: 0;
  }

  &__title {
    flex: 1;
  }

  &__add {
    flex: 1;

    text-align: right;
    transition: $shortEasyAnimation1;
    cursor: pointer;

    &:hover {
      color: $decorationColor1;
    }
  }
}