.arrow {
    position: relative;
    display: flex;
    width: 13px;
    height: 2px;

    background-color: $decorationColor6;
    transition: $shortEasyAnimation1;

    &:before, &:after {
        position: absolute;
        content: '';
        right: -2px;
        width: 8px;
        height: 2px;

        background-color: $decorationColor6;
        transition: $shortEasyAnimation1;
    }

    &:before {
        top: -2px;
        transform: rotate(45deg);
    }

    &:after {
        top: 2px;
        transform: rotate(-45deg);
    }

    &--filesPanel {
        margin-top: 4px;
    }

    &--leftDirection {
        margin: 4px 8px 0 0;
        transform: rotate(-180deg);
    }
}