.optionsPanelWrapper {
    display: flex;
    position: absolute;
    z-index: 10;
    top: -10px;
    left: 0;
    width: 100%;
    justify-content: center;
}

.optionsPanel { 
    display: flex;
    position: relative;
    height: 30px;
    margin: 0 20px;

    background-color: $decorationColor2;
    box-shadow: 1px 1px 5px $decorationColor9;

    &__title {
        position: relative;
        display: flex;
        max-width: 60px;
        align-items: center;
        justify-content: center;
        padding: 3px 14px 3px 5px;
        margin: 7px 5px 7px 0;

        font-size: 14px;
        letter-spacing: 4px;
        font-weight: 700;
        border-right: 2px dotted $decorationColor3;
    }

    &__options {
        display: flex;
        margin: 5px 0 5px 10px;
        padding: 0;

        & > li {
            display: inline-block;
            margin: 0 6px;

            &:first-child {
                margin: 0 7px 0 -2px;
            }
        }
    }

    &:before, &:after {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        top: 0;
        border-style: solid;
    }

    &:before {
        left: -20px;
        border-width: 0 20px 30px 0;
        border-color: transparent $decorationColor2 transparent transparent;
    }

    &:after {
        right: -20px;
        border-width: 30px 20px 0 0;
        border-color: $decorationColor2 transparent transparent transparent;
    }   
}