body {
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	position: relative;

  background-color: $backgroundColor;
	font-family: 'Roboto', sans-serif;
	color: $fontColor;
}

a {
	text-decoration: none;
	color: inherit;
	transition: 0.2s;

	&:hover {
		color: $fontColor1;
	}
}



[data-title] {
	position: relative;

	&:after {
		content: attr(data-title);
		position: absolute;
		z-index: 99;
		visibility: hidden;
		opacity: 0;
	
		background-color: $decorationColor9;
		color: $fontColor1;
		font-size: 10px;
	
		padding: 3px 5px;
		bottom: -15px;
		left: 100%;
		white-space: nowrap;
		box-shadow: 0 0 2px $decorationColor1;
		text-transform: lowercase;
	}

	&:hover {
		&:after {
			opacity: 1;
			transition: all 200ms ease-in-out;
			visibility: visible;
		}
	}
}

//Global classes
.g-container {
  	display: flex;
  	height: 100vh;
	flex-direction: column;
	align-items: center;

	&--popup {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		justify-content: center;
		z-index: 90;

		background-color: $decorationColor8;
	}
}

.g-wrapper {
	display: flex;
	flex: 1;
	width: 100%;
	align-items: center;
}

.g-exitBtn {
	display: flex;
	position: relative;
	width: 18px;
	height: 18px;

	&:hover {
		&:before, &:after {
			background-color: $decorationColor1;
		}
	}

	&:before, &:after {
		position: absolute;
		content: '';
		top: 50%;
		left: 0;
		width: calc(100% + 2px);
		height: 2px;

		transition: 200ms ease-in-out;
		background-color: $decorationColor4;
	}

	&:before {
		transform: rotate(-45deg);
	}

	&:after {
		transform: rotate(45deg);
	}
}
