//Colors
$backgroundColor: #161b20;

$decorationColor: #1f262d;
$decorationColor1: #27427c;
$decorationColor2: #101011;
$decorationColor3: #eee;
$decorationColor4: #ccc;
$decorationColor5: #121214;
$decorationColor6: #aaa;
$decorationColor7: #262d38;
$decorationColor8: rgba(0, 0, 0, 0.3);
$decorationColor9: rgba(0, 0, 0, 0.8);
$decorationColor10: rgba(0, 0, 0, 0.5);
$decorationColor11: rgba(255, 255, 255, 0.03);
$decorationColor12: rgba(255, 255, 255, 0.6);
$decorationColor13: #3262b8;
$decorationColor14: #161617;

$boardColor1: #bbb;
$boardColor2: #777;

$fontColor: #fff;
$fontColor1: #bbb;
$fontColor2: #666;

$warningColor: #9c1616;
$warningColor1: rgba(175, 26, 26, 0.3);

//Component variables
$filesPanelWrapperPadding: 7;
$sidePanelWrapperPadding: 7;