//Colors
$backgroundColor: #161b20;

$decorationColor: #1f262d;
$decorationColor1: #27427c;
$decorationColor2: #101011;
$decorationColor3: #eee;
$decorationColor4: #ccc;

$boardColor1: #bbb;
$boardColor2: #777;

$fontColor: #fff;
$fontColor1: #bbb;

$warningColor: #af1a1a;