//Colors
$backgroundColor: #161b20;

$decorationColor: #1f262d;
$decorationColor1: #27427c;
$decorationColor2: #101011;
$decorationColor3: #eee;
$decorationColor4: #ccc;
$decorationColor5: #121214;
$decorationColor6: #aaa;
$decorationColor7: #262d38;
$decorationColor8: rgba(0, 0, 0, 0.2);

$boardColor1: #bbb;
$boardColor2: #777;

$fontColor: #fff;
$fontColor1: #bbb;

$warningColor: #af1a1a;

//Component variables
$filesPanelWrapperPadding: 7;