.addFSImageOption {
  position: relative;
  width: 3px;
  height: 19px;
  margin: 1px 0 0 2px;

  background-color: $decorationColor4;
  transition: 200ms ease-in-out;

  &:hover {
    background-color: $decorationColor1;

    &:before {
      background-color: $decorationColor1;
    }
  }

  &:before {
    position: absolute;
    content: '';
    top: 8px;
    left: -8px;
    width: 19px;
    height: 3px;

    transition: 200ms ease-in-out;
    background-color: $decorationColor4;
  }
}