.addFSImageOption {
  position: relative;
  width: 3px;
  height: 19px;
  margin: 1px 7px 0 4px;

  background-color: $decorationColor4;
  transition: $shortEasyAnimation1;

  &:hover {
    background-color: $decorationColor1;

    &:before {
      background-color: $decorationColor1;
    }
  }

  &:before {
    position: absolute;
    content: '';
    top: 8px;
    left: -8px;
    width: 19px;
    height: 3px;

    transition: $shortEasyAnimation1;
    background-color: $decorationColor4;
  }
}

.addFSImageBtn {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
    
  & + label {
    position: relative;
    display: block;
    width: auto;
    height: 40px;
    margin: 5px 0;
    box-sizing: border-box;
    padding: 10px 4px;    

    color: $decorationColor6;
    background-color: $decorationColor1;
    border: 1px solid $decorationColor1;
    cursor: pointer;
    text-align: right;
    font-size: 12px;
    font-weight: 200;

    &:before {
      position: absolute;
      content: 'Search file';
      top: 0;
      left: 0;
      padding: 10px 4px;

      font-weight: 400;
      font-size: 16px;
    }
  }
}

.addFSImageSelect {
  display: flex;
  position: relative;
  height: 30px;
  padding: 4px 8px;
  margin: 5px 0;
  align-items: center;

  background-color: $decorationColor1;
  color: $decorationColor6;
  font-size: 14px;
  transition: $shortEasyAnimation1;

  cursor: pointer;
  &:hover {
    color: $decorationColor4;
  }

  & ul {
    position: absolute;
    top: 13px;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;

    background-color: $decorationColor1;
    border-right: 1px solid $decorationColor4;
    border-bottom: 1px solid $decorationColor4;
    border-left: 1px solid $decorationColor4;

    & li {
      margin: 0 0 4px 20px;
    }
  }
}