.entryPanel {
  display: flex;
  flex: 1;
  margin: 30px 0;
  padding: 15px 0;
  justify-content: center;

  background-color: $decorationColor8;
  border-top: 1px solid $decorationColor1;
  border-bottom: 1px solid $decorationColor1;

  &__menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;

    list-style-type: none;

    & > li {
      margin: 10px 0;

      & a {
        cursor: pointer;
        transition: $shortEasyAnimation1;

        &:hover {
          color: $decorationColor1;
        }
      }
    }
  }
}

.extendedItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &:hover {
    color: inherit;

    & > .extendedItem__submenu {
      display: flex;
      width: 100px;
      opacity: 1;
    }
  }

  &__submenu {
    display: flex;
    width: 0;
    opacity: 0;

    transition: $shortEasyAnimation1;
    text-transform: uppercase;

    & ul {
      display: flex;
      flex: 1;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 0 0 0 20px;
      padding: 0;
      align-items: center;
      justify-content: center;

      list-style-type: none;

      & li {
        margin: 0 5px;

        cursor: pointer;
        transition: $shortEasyAnimation1;

        &:hover {
          color: $decorationColor1;
        }
      }
    }
  }
}

.separatedItem {
  padding: 10px 25px 0 25px;
  border-top: 1px solid $decorationColor7;
}